{
  "useTabs": true, 
  "printWidth": 85, 
  "tabWidth": 4, 
  "singleQuote": true, 
  "trailingComma": "none",
  "jsxBracketSameLine": false, 
  "parser": "flow", 
  "semi": false,
  "arrowParens": "avoid"
}