// Table heigths
$header-height: 34px;
$toolbar-height: 40px;
$formula-height: 24px;
$row-height: 24px;

// Dashboard heights
$db-header-height: 64px;

$border-color: #dbdbdb;

$info-cell-width: 40px;
$cell-width: 120px
