// Table heigths
$header-height: 50px;
$toolbar-height: 40px;
$formula-height: 24px;
$row-height: 24px;

// Dashboard heights
$db-header-height: 64px;

$border-color: #dbdbdb;
$primary-color: #3c74ff;

$info-cell-width: 40px;
$cell-width: 120px
