@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');
@import "~normalize.css";

@import "elements/header";
@import "elements/toolbar";
@import "elements/formula";
@import "elements/table";
@import "elements/dashboard";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
}

.excel {
    position: relative;
    color: #888;
    height: 100%;
    min-width: 100%;
    font-size: .8rem;
}